@font-face {
    font-family: Dcondensed;
    src: url('/fonts/D-DINCONDENSED.OTF') format('opentype');
}

@font-face {
    font-family: DBold;
    src: url('/fonts/D-DINEXP-BOLD.OTF') format('opentype');
}

@font-face {
    font-family: DBoldA;
    src: url('/fonts/DIN-Alternate-Bold.otf') format('opentype');
}
* {
    margin: 0%;
    padding: 0%;
}


/* Inicio de cesccion */

.index-body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: url(../../image/fondoLogin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.index-login-container {
    height: 35em;
    width: 50em;
    margin: 2em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    justify-content: space-around;
}

.index-login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: #0075BC;
    border-radius: 10px;
}

.index-logo-container {
    height: 25%;
    width: 85%;
}

.index-logo {
    max-width: 100%;
    max-height: 100%;
}

.index-inputs-container {
    height: 35%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.index-label{
    color: #fff;
    font-family: DBoaldA;
    font-size: 20px;
}

.index-input {
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 90%;
    font-family: DBoaldA;
    font-size: 20px;
}

.index-input:focus,
.index-input:active {
    outline: none;
}

.index-btn {
    margin: 0 auto;
    background-color: transparent;
    border: 0.5px solid #FFF;
    border-radius: 5%;
    padding: 2%;
    color: #FFF;
    font-size: 25px;
    cursor:pointer;
    font-family: DBoaldA;
    margin-bottom: -10%;
}

.index-btn:hover{
    background-color: #F36C35;
}

.index-footer-container {
    height: 40%;
    width: 100%;
    clip-path: polygon(0 0, 100% 67%, 100% 100%, 0% 100%);
}

.index-footer {
    min-width: 100%;
    max-height: 100%;
    clip-path: polygon(0 0, 100% 67%, 100% 100%, 0% 100%);
    border-radius: 0 0 10px 10px;
}



@media screen and (max-width: 4100px) and (min-width: 1800px){

    .index-login-container {
        width: 50%;
        height: 40em; 
    }
    .index-html{
        height: 100%;
        width: 100%;
    }
    .index-body{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

}

@media screen and (max-width: 2300px) and (min-width: 1800px) {

    .index-login-container {
        width: 50%;
        height: 42em; 
    }
    .index-html{
        height: 100%;
        width: 100%;
    }
    .index-body{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

}

@media screen and (max-width: 1000px) {
    .index-login-container {
        width: 50%;
        margin-top: 3rem;
        
    }

    .index-login-info-container {
        width: 100%;
        border-radius: 5px;
    }
}

@media screen and (max-width: 650px) {
    .index-login-container {
        width: 90%;
       
    }
}

@media screen and (max-width: 500px) {
    .index-login-container {
        margin-top: 7em;
    }
}




/* Empleado */
.empleado-html,.empleado-body{
    height: 100%;
    width: 100%;
}

.empleado-body{
    background: url(../../image/fondoLogin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.empleado-contenedor-principal{
    background-color: #FFF;
    width: 55%;
    height: 60%;
    display: flex;
    border-radius: 10px;
}

.empleado-contenedor-izquierdo{
    background-color: #fff;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.empleado-contenedor-logo{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.empleado-logo{
    min-height: 110%;
    min-width: 100%;
}

.empleado-contenedor-imagen{
    width: 100%;
    height: 80%;
    display: flex;
}

.empleado-imagen{
    max-width: 100%;
    max-height: 100%;
    margin-left: 8%;
}

.empleado-contenedor-derecho{
    width: 65%;
    height: 100%;
    margin-left: -5%;
    background-color: #0075BC;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    border-radius: 0 10px 10px 0;
}

.empleado-opciones{
    width: 100%;
    height: 100%;
}

.empleado-nombre{
    width: 100%;
    height: 20%;
    color: #FFF;
    margin: 0;
    font-size: 190%;
    font-weight: bold;
    -webkit-text-stroke:1px #e36b0f;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.empleado-items{
    height: 80%;
    width: 100%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.empleado-item{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 30px;
    width: 50%;
    margin-top: 3%;
    border-bottom: 1px solid #FFF;
}

.empleado-enlace{
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
    width: 50%;
    margin-top: 3%;
    text-align: center;
    border-bottom: 1px solid #FFF;
}

.empleado-enlace:hover{
    text-decoration: none;
    color: #FFF;
    font-size: 30px;
    text-align: center;
}

.empleado-enlace-salir{
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    width: 70%;
    text-align: right;
    margin-top: 2%;
}

.empleado-enlace-salir:hover{
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    width: 70%;
    text-align: right;
    margin-top: 2%;
}

.empleado-enlace-calificar{
    margin-top: 0;
}

@media screen and (max-width: 4100px) and (min-width: 1800px){

}

@media screen and (max-width: 2300px) and (min-width: 1800px) {

}
@media screen and (max-width: 1000px) {

    .empleado-html,.empleado-body{
        height: 120%;
        width: 100%;
    }
    
    .empleado-contenedor-principal {
        width: 80%;
        height: 90%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
   
}

@media screen and (max-width: 650px) {
    .empleado-contenedor-principal {
        background: none;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 70%;
        height: 90%;

    }

    .empleado-contenedor-izquierdo{
        width: 100%;
        height: 50%;
        border-radius: 10px 10px 0 0;


    }
    
    .empleado-contenedor-imagen {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .empleado-imagen{
        margin: 0;
    }
    
    .empleado-contenedor-derecho{
        width: 100%;
        height: 50%;
        margin: 0;
        clip-path: none;
        border-radius: 0 0 10px 10px;
    }

    .empleado-items {
        margin: 0;
    }

    .empleado-nombre {
      
        font-size: 140%;
        text-align: center;
    }
}





/* Calificar */
.calificar-body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23BBBBBB' cx='50' cy='0' r='50'/%3E%3Cg fill='%23b6b6b6' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b0b0b0' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ababab' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a6a6a6' cx='50' cy='200' r='50'/%3E%3Cg fill='%23a0a0a0' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%239b9b9b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23969696' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23919191' cx='50' cy='400' r='50'/%3E%3Cg fill='%238b8b8b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23868686' cx='50' cy='500' r='50'/%3E%3Cg fill='%23818181' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237c7c7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23777777' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23727272' cx='50' cy='700' r='50'/%3E%3Cg fill='%236d6d6d' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23686868' cx='50' cy='800' r='50'/%3E%3Cg fill='%23636363' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f5f5f' cx='50' cy='900' r='50'/%3E%3Cg fill='%235a5a5a' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23555555' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.calificar-contenedor-empleado {
    background-color: rgba(242, 248, 248, 0.068);
    border-radius: 2%;
    width: 40%;
    display: flex;
    margin: 1%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.calificar-contenedorp-empleado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.calificar-contenedor-titulo {
    text-align: center;
}

.calificar-btnmodal {
    background: transparent;
    margin: 2% 4%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.calificar-contenedor-imagen {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: 2% 7% 2% 10%;
}

.calificar-contenedor-imagen img {
    width: auto;
    height: 100%;
}

.calificar-nombre-btn {
    font-size: x-large;
}

.calificar-contenedor-auto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.calificar-contenedor-auto a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 110%;
}

.calificar-contenedor-auto button {
    background-color: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 110%;
}


/* jefe  */

.empleado-item-jefe{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 17px;
    width: 50%;
    margin-top: 3%;
    border-bottom: 1px solid #FFF;
}

.empleado-enlace-jefe{
    text-decoration: none;
    color: #FFF;
    font-size: 17px;
    width: 50%;
    margin-top: 3%;
    text-align: center;
    border-bottom: 1px solid #FFF;
}

.empleado-enlace-jefe:hover{
    text-decoration: none;
    color: #FFF;
    font-size: 17px;
    text-align: center;
}

.empleado-enlace-jefe-salir{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    width: 70%;
    text-align: right;
    margin-top: 2%;
}

.empleado-enlace-jefe-salir:hover{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    width: 70%;
    text-align: right;
    margin-top: 2%;
}

/* Inventario Por Area*/

.inventarioArea-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 2px;

}

.inventarioArea-contenedor-producto {
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 3%;
}

.inventarioArea-div-producto {
    display: flex;
}

.inventarioArea-p-producto {
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    min-width: 40%;
    margin-right: 4%;
    margin-left: 13%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

.inventarioArea-agregar-articulo {
    background-color: #e36b0f;
    width: 30%;
    position: fixed;
    right: 5%;
    top: 23%;
    border-radius: 10px;
    padding: 20px;
}

.inventarioArea-formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-end;
    align-items: center;
}

.inventarioArea-item-formulario {
    margin: 2%;
    width: 60%;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid black;
}

.inventarioArea-item-formulario-agregar {
    margin: 2%;
    border-radius: 6px;
    border: none;
    padding: 6px;
}

.inventarioArea-div-nav {
    display: flex;
}

.inventarioArea-volver {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 3%;
}

.inventarioArea-volver:hover {
    color: black;
}

.inventarioArea-titulo {
    display: inline-block;
    font-weight: bold;
    margin-left: 26%;
    margin-top: 2%;
}

.fa-trash-can:before {
    color: black;
}

.fa-trash-can:hover:before {
    color: #e36b0f;
}

.fa-pen-to-square:before {
    color: black;
}

.fa-pen-to-square:hover:before {
    color: #e36b0f;
}

.inventarioArea-body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23BBBBBB' cx='50' cy='0' r='50'/%3E%3Cg fill='%23b6b6b6' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b0b0b0' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ababab' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a6a6a6' cx='50' cy='200' r='50'/%3E%3Cg fill='%23a0a0a0' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%239b9b9b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23969696' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23919191' cx='50' cy='400' r='50'/%3E%3Cg fill='%238b8b8b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23868686' cx='50' cy='500' r='50'/%3E%3Cg fill='%23818181' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237c7c7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23777777' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23727272' cx='50' cy='700' r='50'/%3E%3Cg fill='%236d6d6d' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23686868' cx='50' cy='800' r='50'/%3E%3Cg fill='%23636363' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f5f5f' cx='50' cy='900' r='50'/%3E%3Cg fill='%235a5a5a' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23555555' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.inventarioArea-boton-modificar {
    background-color: transparent;
    border: 0;
    color: rgb(0, 0, 0);
}

.modal-title {
    text-align: center;
}

.modificar {
    font-size: 25px;
    margin-left: 7px;
    margin-bottom: 20px;
}



/* Calificaciones Por Area*/

.calificacionArea-body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23BBBBBB' cx='50' cy='0' r='50'/%3E%3Cg fill='%23b6b6b6' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b0b0b0' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ababab' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a6a6a6' cx='50' cy='200' r='50'/%3E%3Cg fill='%23a0a0a0' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%239b9b9b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23969696' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23919191' cx='50' cy='400' r='50'/%3E%3Cg fill='%238b8b8b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23868686' cx='50' cy='500' r='50'/%3E%3Cg fill='%23818181' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237c7c7c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23777777' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23727272' cx='50' cy='700' r='50'/%3E%3Cg fill='%236d6d6d' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23686868' cx='50' cy='800' r='50'/%3E%3Cg fill='%23636363' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f5f5f' cx='50' cy='900' r='50'/%3E%3Cg fill='%235a5a5a' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23555555' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.calificacionArea-grafico {
    position: fixed;
    height: 70%;
    width: 70%;
    background-color: transparent;
}

/* iNVENTARIO AREA */

.inventarioArea-por-persona {
    border: 2px solid black;
    margin: 2% 3%;
}

.inventarioArea-contenedor-por-persona {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 2% 5% 2% 5%;
}

