body{
    background-color: #fff;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 10px;
  }
  
.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.logo{
    width:200px;
    height:100px;
    display: block;
    margin: 0px auto;
    padding: 14px 16px;
}
 .container{
    background-color: #333;
    padding:50px;
    border-radius: 10px;   
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    height: 200px;
    width: 350px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

p {
    color: #fff;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
    border-radius: 5px;
    background-color: #fff;
    font-size: 2vw;
}
.first {
    height: 100px;
    margin-right: 50px;
    margin-top: 10px;
}
.second {
    height: 100px;
    margin-top: 50px;
    text-align: center;
}
